
@import "base.css";
@import "page-1.css";
@import "page-2.css";
@import "page-3.css";
@import "page-4.css";
@import "page-5.css";
@import "page-6.css";
@import "background.css";
@import "movement.css";
.resume-hide{
    display: none;
}

.section.item-1 ,
.section.item-2 ,
.section.item-3 ,
.section.item-4 ,
.section.item-6 {
    text-align: center;
    font: 50px "Microsoft Yahei";
    color: #fff;
}

/* 导航条 */
.resume{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    border: none;
    border-radius: 0!important;
}
.navbar {
    background: rgba(0,0,0,0);
    transition: 1s all ease;
}


.navbar-default .navbar-toggle{
    background: rgba(0,0,0,0)!important;
    border: 0!important;
}
.navbar-default .navbar-toggle .icon-bar{
    background: #fff!important;
}
.language{
    height: 50px;
    position: relative;
    display: flex!important;
    align-items: center;
}
.language>.checked{
    display: block;
    height: 20px;
    line-height: 18px;
    color: #eee;
    position: relative;
    border: 1px solid rgba(255, 255, 255,.05);
    box-sizing: border-box;
    font-size: 13px;
    width: 35px;
    text-align: center;
    cursor: pointer;
}
.language>.checked>.arrow{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #eee;
    right: -13px;
    top: 50%;
    margin-top: -5px;
    transition: all .3s;
}
.check-lang{
    position: absolute;
    top: 42px;
    right: -13px;
    width: 80px;
    height: auto;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    box-shadow: 0 0 12px rgba(255, 255, 255,.05);
    padding: 5px;
    box-sizing: border-box;
    transition: all .3s;
    transform: scale(0);
}
.check-lang>span{
    display: block;
    height: 26px;
    line-height: 26px;
    cursor: pointer;
}
.check-lang>span:hover{
    color: skyblue;
}
.tel, .tel:focus{
    text-decoration: none;
    color: #fff;
}
.tel:hover{
    text-decoration: underline;
    color: skyblue;
}

@media screen and (max-width: 1024px){
    .navbar-nav > li > a> span.en-skill{
        display: inline-block;
        width: 100px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
    }
}

@media screen and (max-width: 768px) {
    .navbar-collapse{
        border: 0!important;
    }
    .en-title{
        display: none;
    }
    .navbar-nav > li > a> span.en-skill{
        width: 73px!important;
    }
    .language{
        display: none!important;
    }
}
@media screen and (max-width: 640px) {
    .navbar-nav > li > a> span.en-skill{
        width: auto!important;
    }
}

.navbar.blue {
    background: linear-gradient(-90deg, #3bd3f1 0%, #5897f7 100%);
}
.navbar.black {
    background: rgba(51, 51, 51,.7);
}

.resume .navbar-brand,
.resume .navbar-brand:visited,
.resume .navbar-brand:hover
{
    color: #A7E615;
    font-size: 18px;
}
.resume .navbar-right li a,
.resume .navbar-right li a:visited{
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
}
.resume .navbar-right li a:hover {
    color: #ffffff;
    text-decoration: none;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:visited,
.navbar-default .navbar-nav>.active>a:focus {
    color: orange;
    text-decoration: none;
}
.navbar-default .navbar-toggle {
    background-color: #122b40;
}
 .navbar-default .navbar-toggle:focus{
     background-color: #122b40;
}
.navbar-default .navbar-toggle:hover {
    background-color: #122b40;
}
/********************导航条End***************************************/

/********************右侧导航栏*************************************/

#fp-nav{
    top: 80%;
}

#fp-nav ul li{
    vertical-align: middle;
    margin: 10px 50px 0 ;
}
#fp-nav li .active {
    background-position: 0 bottom;
}
#fp-nav ul li a {
    display: block;
    color: #8F9DA4;
    width: 21px;
    height: 21px;
    background: url(https://cdn.jsdelivr.net/gh/twelvekescan/twelvekescan.github.io@latest/images/dot.png) 5px 5px no-repeat;
    /*right: 0;*/
}
#fp-nav span {
    display: none;
}

#menu li a {
    font-size: 20px;
}


/****************************右侧导航栏End******************************/




